.Online,.Offline{
  width: 70px;
  height: 20px;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;

  color: rgb(255, 255, 255);
  border-color: #ccc;
  content: "Online";
}
.Online{
  background-color: rgb(21, 156, 9);
}
.Offline{
  background-color: rgb(143, 15, 15);
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}
.unidade{
  color: aliceblue;
  margin-left: 10px;
}

.checkonoff {
  position: relative;
  top: 0px;
  background-color: #262d47;
  border-radius: 15px;
  color: #f1f1f1;
  box-shadow: 10px 10px 20px black;
  line-height: 40px; 
  padding-right: 25px;  
  height: 600px;
  margin-top: 27px;
}
@media (max-width: 667px) {
  .checkonoff {
    line-height: 30px;
  }
}
@media (max-width: 414px) {
  .checkonoff {
    line-height: 30px;
    height: 422px;
    width: 60%;
  }
  .toggle-wrapper1 .unidade {
    margin-left: 5px;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
  }
  p {
    margin-top: 10px;
    margin-left: 25px;
  }
}